name: Build docker image
on:
  push:
    branches:
      - main
      - '**issue-**'
jobs:
  build-docker-images:
    runs-on: ubuntu-latest
    env:
      VITE_KC_URL: "http://localhost:8080/auth/"
      VITE_KC_REALM: "mafdetrealm"
      VITE_KC_CLIENTID: "mafdetreactclientid"
      QUAY_REGISTRY: quay.io/semicorp
      QUAY_REPO_NAME: mafdet-ui
      IMAGE_TAG: latest

    steps:
      - uses: actions/checkout@v2

      - name: Use Node.js
        uses: actions/setup-node@v3
        with:
          node-version: '16.15.0'

      - run: npm ci
      - run: npm run lint
      - run: npm run test
      - run: npm run build --if-present

      - name: Set up QEMU
        uses: docker/setup-qemu-action@v2

      - name: Set up Docker BuildX
        uses: docker/setup-buildx-action@v2

      - name: Create TAGS
        run: |
            if [ "$GITHUB_REF_NAME" = "main" ]
            then
              TAG=latest
            elif [[ $GITHUB_REF_NAME =~ (issue-[0-9]*) ]]
            then
              TAG=${match/#E/E}${BASH_REMATCH/#E/E}
            else
              TAG=${GITHUB_SHA}
            fi
            echo "IMAGE_TAG=$TAG" >> $GITHUB_ENV

#      - name: Build Image
#        id: build-image
#        uses: redhat-actions/buildah-build@v2
#        with:
#          image: ${{ env.QUAY_REPO_NAME }}
#          tags: ${{ env.image_tag }}
#          containerfiles: |
#              ./Dockerfile

#      - name: Push image to Quay
#        id: push-to-quay
#        uses: redhat-actions/push-to-registry@v2
#        with:
#          image: ${{ steps.build-image.outputs.image }}
#          tags: ${{ steps.build-image.outputs.tags }}
#          registry: ${{ env.QUAY_REGISTRY}}
#          username: ${{ secrets.QUAY_ROBOT_NAME }}
#          password: ${{ secrets.QUAY_ROBOT_TOKEN }}

      - name: Log in to Quay.io
        uses: redhat-actions/podman-login@v1
        with:
          username: ${{ secrets.QUAY_ROBOT_NAME }}
          password: ${{ secrets.QUAY_ROBOT_TOKEN }}
          registry: ${{ env.QUAY_REGISTRY }}

      - name: Build and push
        uses: docker/build-push-action@v4
        with:
          context: .
          file: Dockerfile
          platforms: |
              linux/amd64
              linux/arm64
          push: true
          tags: |
            ${{ env.QUAY_REGISTRY }}/${{ env.QUAY_REPO_NAME }}:${{ github.sha }}
            ${{ env.QUAY_REGISTRY }}/${{ env.QUAY_REPO_NAME }}:${{ env.IMAGE_TAG }}

#      - name: Print image url
#        run: echo "Image pushed to ${{ steps.push-to-quay.outputs.registry-paths }}"